<% if params[:search] %>
  <h1 class="plants-index__title font-title font-colour-black font-weight-medium font-size-30"><%= pluralize(@plants.count, "result") %> for "<%= params[:search] %>"</h1>
<% end %>

<div data-controller="plant-cards">
  <div class="plants-index-card-container" data-target="plant-cards.container">
      <% @plants.each do |plant| %>
      <%= render "plants/card", plant: plant %>
    <% end %>
    <div style="width: 320px;"></div>
  </div>
</div>
