.button-green-small {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  background: #00A800;
  border-radius: 2px;
  border: none;

  text-decoration: none;
}

.button-green {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  padding: 12px 20px;
  background: #00A800;
  border-radius: 2px;
  border: none;

  text-decoration: none;  
}

.button-fluid {
  width: 100%;
}

