.plants-new {
  width: 700px;
  margin-bottom: 300px;
}

.plants-new__header {
  margin-bottom: 30px;
  border-bottom: solid 1px #C4C4C4;
  padding-bottom: 31px;
}

.plants-new__title {
  margin-bottom: 16px;
}